.page-heading{
  font-size: 1.999396em;
  font-family: $heading-font;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid $red;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  font-weight: bold;
  letter-spacing: 0.2em;

  @media (max-width: 760px){
    width: 80%;
  }

  @media (max-width: 630px){
    width: 90%;
  }

  @media (max-width: 565px){
    width: 100%;
  }

  @media (max-width: 350px){
    width: 100%;
    font-size: 1.414em;
  }
}