footer{
  background: url("../images/footer-bcg.svg");
  background-repeat: no-repeat;
  text-align: center;
  background-position-x: 50%;
  padding-bottom: .5em;

  width: 26em;
  min-height: 4em;
  background-size: cover;
  margin: 0 auto;
  
  @media (max-width: 520px){
    width: 100%;
    background-image: none;
    min-height: initial;
    margin: 0;
    background: $light-gray;
    padding: 1em 0;
  }
}