extends _default

block title
    title Accueil - Nicolas de Stael

block pageHeading
    h1.visuallyhidden(role="heading", aria-level="1") accueil - Biographie
    div liens

block content
    div test