.amazon-ico{
  background-image: url("../images/amazon.svg");
  text-indent: -13em;
  display: inline-block;
  width: 5em;
  background-repeat: no-repeat;
  vertical-align: -41%;
  overflow: hidden;
}