.bibliographie__book__amazon-link{
  position: relative;
  padding: 14px 18px;
  border-radius: 4px;
  margin-top: 1.4em;
  border: 1px solid $light-gray;
  display: block;
  max-width: 14.3em;
  width: 100%;
  color: #000000;

  &:hover{
    color: $amazon-orange;
    border-color: $amazon-orange;
  }

  @media (max-width: 600px){
    margin-left: auto;
    margin-right: auto;
  }
}