.biographie__text__quote{
  margin: 2em auto;
  max-width: 27em;
  width: 100%;
  text-align: right;
  font: italic normal 1.414em/1.5em serif;
  padding: 1.4em 0;
  position: relative;
  z-index: 5;

  @media (max-width: 570px){
    font-size: 1em;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3em;
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    z-index: -1;
  }
}