.biographie__text{
  max-width: 50.7em;
  width: 100%;
  padding: 1em 1.3333em 0;
  border-radius: 10px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  margin: auto auto -.5em;

  & time{
    font-style: italic;
  }

  & p:nth-of-type(1n+3){
    max-width: 35em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 570px){
    padding-left: 0;
    padding-right: 0;
  }
}