//javascript enable

.js-enable .galerie__figure{
  background-color: rgba($box-bcg-color, 1);
  width: 113px;
  height: 113px;
  overflow: hidden;
  border-radius: 50%;

  &--on-click{
    border-radius: initial;
    padding: 40px;
    width: 380px;
    height: auto;
    margin: 0 0 0 -190px;
    box-shadow: 0px 0px 3px $dark-gray ;
    position: fixed;
    left: 49.6vw;
    top: 30vh;
    z-index: 1;
  }
}
