.galerie__image-link{
  display: none;
}

//javascript enable

.js-enable .galerie__image-link{
  display: block;
  padding: 0;
  border: none;
  width: 113px;
  height: 113px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;

  &:hover, &:focus{
    cursor: pointer;
    background-color: rgba(100,100,255,.4);
  }

  &--disable{
    display: none;
  }
}
