.galerie__image{
  margin-bottom: .5em;
}

//javascript enable

.js-enable .galerie__image{
  height: 7.5em;
  width: auto;
}


.js-enable .galerie__figure--on-click .galerie__image{
  width: auto;
  height: auto;
  max-height: none;
}