.liens__links-list__item{
  padding-left: .6em;
  padding-right: .6em;
  margin-bottom: 1em;
  position: relative;

  &:not(:last-of-type){
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1em;
  }

  &:before{
    font-family: FontAwesome;
    font-size: .8em;
    color: $red;
    content: '\f10c';
    position: absolute;
    left: -1em;
    top: .7em;

  }

  @media (max-width: 550px){
    &:before{
      top: .2em;
    }
  }

  @media (max-width: 300px){
    padding-left: 0;

    &:before{
      display: none;
    }
  }
}