.page-heading{
  font-size: 1.999em;
  font-family: $heading-font;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid $red;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  font-weight: bold;
  letter-spacing: 0.2em;
}