.pratique__catalog-form-section__form{
  width: 460px;
  min-height: 210px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $box-bcg-color;
  border-radius: 10px;
  position: relative;
}

.pratique__catalog-form-section--valid  .pratique__catalog-form-section__form{
  display: none;
}