.pratique__catalog-form-section__submit{
  display: block;
  width: 200px;
  padding: .7em;
  margin-left: auto;
  margin-right: auto;
  background-color: $link-txt-color;
  border-radius: 5px;
  border: none;
  color: $white-color;
  font-weight: 700;
  margin-top: .5em;

  &:hover{
    background-color: $link-hover-txt-color;
    cursor: pointer;
  }
}

