.pratique__catalog-form-section__form{
  width: 48.2%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: $box-bcg-color;
  border-radius: 10px;
  position: relative;

  &--valid{
    display: none;
  }
}

