.pratique__catalog-form-section__submit{
  display: block;
  width: 15em;
  padding: .7em;
  margin-left: auto;
  margin-right: auto;
  background-color: $link-txt-color;
  border-radius: 5px;
  border: none;
  color: $white-color;
  font-weight: 700;
  margin-top: .5em;

  &:hover{
    background-color: $link-hover-txt-color;
    cursor: pointer;
  }

  @media (max-width: 470px){
    //margin-left: 0;
    width: 100%;
    max-width: 18em;

  }
}

