.pratique__catalog-form-section__form{
  max-width: 34.7em;
  width: 100%;
  padding: 2em 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $box-bcg-color;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &--valid{
    display: none;
  }

  @media (max-width: 990px){
    padding-bottom: 3em;
  }

  @media (max-width: 635px){
    background-color: initial;
    padding-top: 0;
  }

  @media (max-width: 470px){
    padding-left: 0;
    padding-right: 0;
    //justify-content: flex-start;

  }
}

