.pratique__catalog-form-section__alert{
  width: 420px;
  color: $alert-color;
  margin: 0 auto;
  text-align: center;
  display: none;
  margin-top: -1.5em;
}

//invalid form inputs
.pratique__catalog-form-section__alert--invalid{
  display: block;
}